<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>favorites</key>
	<array>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>title</key>
			<string>deja vu</string>
			<key>URL</key>
			<string>http://www.eksisozluk.com/index.asp?a=sr&amp;au=deja+vu&amp;so=y</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>title</key>
			<string>mayhoş</string>
		</dict>
	</array>
	<key>history</key>
	<array/>
	<key>selectedIndex</key>
	<integer>0</integer>
</dict>
</plist>
